@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(fonts/raleway400.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(fonts/raleway700.woff) format('woff');
}

html {
    font-family: 'Raleway', sans-serif;
    background: white url(http://afup.org/templates/phptourlyon2014/medias/images/bg-global.png) repeat;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #444;
    background: white url(http://afup.org/templates/phptourlyon2014/medias/images/bg-global.png) repeat;
}

/* header */
.header {
    background:url(http://afup.org/templates/phptourlyon2014/medias/images/bg-header.png) no-repeat center top;
    height:160px;
    position:relative;
    z-index:9999;
}

.header-content {
    width:980px;
    margin:0 auto;
}

.header h1.logo {
    margin-top: 0;
    padding-top:1px;
}

.header .logo a {
    float:left;
    background:url(http://afup.org/templates/phptourlyon2014/medias/images/logo.png) no-repeat left top;
    width:244px;
    height:94px;
    display:block;
    text-indent:-9999px;
    margin: 16px 0 0 20px;

}

.header .description {
    float:left;
    width:600px;
    margin: -10px 0 0 80px;
}

.header .description  h1 {
    font: 24px/1.2em 'MuseoSans500', Helvetica, Arial, sans-serif;
    color:#FFF;
    margin-bottom:10px;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
}

.header .description  p {
    color:#FFF;
}

.header .description a {
    color:#FFF;
}

/* Page body */
.banner-container {
    width: 980px;
    margin: auto;
}

h1 {
    color: #00a9f7;
}

.btn {
    margin: 5px;
}

.step {
    position: relative;
    margin: 2em 0;
    padding: 3em 20px 10px 30px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}

.step h3 {
    position: absolute;
    top: -0.4em;
    left: -1em;
    padding: 0;
    margin-top: 0;
    line-height: 2em;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
} 

.step h3 span {
    font-family: Helvetica, sans-serif;
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: #00a9f7;
    margin-right: 0.5em;
    text-align: center;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.3);
}

/* presets */
.swatch {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    margin-right: 3px;
    border: solid gray 1px;
}

#canvas {
    position: relative;
    left: 50%;
    margin-left: -364px;
    width: 728px;
    height: 90px;
    margin-bottom: 1em;
}

/* Color Pickers */

#pickers {
    position: relative;
    left: 50%;
    margin-left: -364px;
    width: 728px;
    height: 130px;
}

#pickers .cp-small {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 50px;
    width: 240px;
}

.cp-small .picker-indicator {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    height: 4px;
    width: 4px;
}
